<style>
    h1   {color: #006938;
        font-family: Arial, Helvetica, sans-serif;
        }
    p   {color: #006938;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
        }
    a.to_register   {color: #006938;}
    #register {
      margin-top:50px
    }
  </style>
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper" style="margin-top: 20px;">
      <img src="static/images/regulomix-cor.png" alt="Regulomix Logo" width="210" height="80" style="margin-left: 50px">
      <!-- <h1><i class="fa fa-user-md"></i> REGULOMIX </h1> -->
      <div class="animate form login_form" style="margin: 50px">
        <section class="login_content">
            <h1>Privacy and Terms</h1>
            <div><p>
                    Privacy and Terms
                    <br>
                    Our Software is free to use and all integrated software are also available to be used. Here is a list of all software and databases used in REGULOMIX.:
                    <br>
                    ----------------------------------------------------------------------------------------
                    <br>
                    1) JASPAR: Creative Commons Attribution 4.0 International License.<br>
                    Fornes O, Castro-Mondragon JA, Khan A, et al. JASPAR 2020: update of the open-access <br>
                    database of transcription factor binding profiles. <br>
                    Nucleic Acids Res. 2019; doi: 10.1093/nar/gkz1001
                    <br>
                    ----------------------------------------------------------------------------------------
                    <br>
                    2) ENSEMBL: <a href="https://www.ensembl.org/info/about/legal/disclaimer.html"> Disclaimer</a><br>
                    Daniel R. Zerbino, Premanand Achuthan, Wasiu Akanni, M. Ridwan Amode, Daniel Barrell, Jyothish Bhai, Konstantinos Billis, Carla Cummins,<br>
                    Astrid Gall, Carlos García Giro´n, Laurent Gil, Leo Gordon, Leanne Haggerty, Erin Haskell, Thibaut Hourlier, Osagie G. Izuogu, <br>
                    Sophie H. Janacek, Thomas Juettemann, Jimmy Kiang To, Matthew R. Laird, Ilias Lavidas, Zhicheng Liu, Jane E. Loveland, Thomas Maurel, <br>
                    William McLaren, Benjamin Moore, Jonathan Mudge, Daniel N. Murphy, Victoria Newman, Michael Nuhn, Denye Ogeh, Chuang Kee Ong, Anne Parker, <br>
                    Mateus Patricio, Harpreet Singh Riat, Helen Schuilenburg, Dan Sheppard, Helen Sparrow, Kieron Taylor, Anja Thormann, Alessandro Vullo,<br>
                    Brandon Walts, Amonida Zadissa, Adam Frankish, Sarah E. Hunt, Myrto Kostadima, Nicholas Langridge, Fergal J. Martin, Matthieu Muffato,<br>
                    Emily Perry, Magali Ruffier, Dan M. Staines, Stephen J. Trevanion, Bronwen L. Aken, Fiona Cunningham, Andrew Yates, Paul Flicek<br>
                    Ensembl 2018.<br>
                    PubMed PMID: 29155950.<br>
                    doi:10.1093/nar/gkx1098<br>
                    ----------------------------------------------------------------------------------------
                    <br>
                    3) API DBSNP:<a href="https://www.ncbi.nlm.nih.gov/home/about/policies/">dbsnp policies</a>
                    <br>
                    ----------------------------------------------------------------------------------------
                    <br>
                    4) FIMO: <br>
                    Charles E. Grant, Timothy L. Bailey and William Stafford Noble, <br>
                    "FIMO: Scanning for occurrences of a given motif", Bioinformatics 27(7):1017–1018, 2011.
                    <br>
                    ----------------------------------------------------------------------------------------
                    <br>
                    5) JEME: <br>
                    Qin Cao, Christine Anyansi, Xihao Hu, Liangliang Xu, Lei Xiong, Wenshu Tang, Myth T.S. Mok, <br>
                    Chao Cheng, Xiaodan Fan, Mark Gerstein, Alfred S.L. Cheng and Kevin Y. Yip <br>
                    Reconstruction of enhancer-target networks in 935 samples of human primary cells, tissues and cell lines
                    Nature Genetics 49(10):1428-1436, (2017)
                    <br>
                    ----------------------------------------------------------------------------------------
                    <br>
                    We require users to create an account for the purpose of storing their workflow for 7 days making it easier the manipulation of great amount of data. 
                    <br>
                    The info required for creating an account is going to be used only on the purpose to verify the regulomix's audience. No individual info will be shared or disclosed.
                    <br>
                    This data is will not be used in any other plataform and for no other purpose than the ones stated in this page. <br>
                    Return to <a href="{{url_for('base_blueprint.login')}}">Login page</a>
              </p></div>
            <div class="clearfix"></div>
            <div class="separator">
              
              <div class="clearfix"></div>
              <br/>
              <div>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template.</p>
              </div>
            </div>
        </section>
      </div>
    </div>
  </div>

