{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<style>
  .wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
    background: #006938;
    color: #fff;
  }
  .wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
    background: #006938;
    color: #fff;
  }
  .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #5EC199;
    color: #fff;
  }
  .btn-primary {
    color: #fff;
    background-color: #006938;
    border-color: #005e32;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #00743e;
    border-color: #005e32;
  }
  .btn-success {
    background: #5EC199;
    border: 1px solid rgb(87, 177, 141);
  }

</style>
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>SNP SCANNER</h3> -->
        </div>

        <!-- <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->
      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>REGULOMIX FAQ </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <section class="section">
                <aside class="menu">
                  <p class="menu-label">
                    REGULOMIX FAQ
                  </p>
                  <ul class="menu-list">
                    <li>
                      <a>Q: What is REGULOMIX?</a>
                      <p class="menu-label">REGULOMIX is a free innovative user-friendly pipeline web service
                          developed to recommend valuable potential candidates from an SNP-panel of interest.
                          Our software has successfully validated, through its newly integrated process,
                          published data which manually demonstrated, in silico and experimentally,
                          the differential binding of transcription factors to the DNA in disease-associated SNPs.</p>
                      <img src="/static/RegulomixFAQ/Imagem1.png" style="max-width: 100%; height: auto;">
                      <p></p>
                    </li>
                    <li>
                      <a>Q: Why I need to Sign Up to REGULOMIX to use it?</a>
                      <p class="menu-label">Some large-scale job requests may take a lot of time to conclude. 
                          Therefore, the use of accounts is necessary so that users can leave REGULOMIX working
                          as our servers end their request. 
                          At the end of the job, the server will send an email to the user to notify/warn that the job is complete. 
                          Also, user data is used to differentiate job requests from other users. 
                          User data will not be used for any other purposes.
                      </p>
                    </li>
                    <li>
                      <a>Q: What each Regulatory Element description mean?</a>
                      <p class="menu-label">REGULOMIX uses, for STEP 2, 
                        ROADMAP Epigenomics Project data. Therefore, the regulatory 
                        elements description can be found in their Chromatin State Learning 
                        information at https://egg2.wustl.edu/roadmap/web_portal/chr_state_learning.html.
                      </p>
                    </li>
                    <li>
                      <a>Q: What is a Differential Transcription Factor?</a>
                      <p class="menu-label">Differential Transcription Factor is a Transcription Factor that,
                         when binding to a sequence in the presence of a SNP, 
                         it potentially does not bind to all of the SNP alleles sequences. 
                         For example: For the SNP rs356168 (Alleles G>A), if a Transcription Factor bind 
                         to a generated sequence with G allele, and it won’t bind to a generated sequence 
                         with A Allele, that TF is called a Differential Transcription Factor.

                      </p>
                    </li>
                    <li>
                      <a>Q: I got an “Interaction not found” window popup, what does it mean?</a>
                      <p class="menu-label">In Step 5, you’ll be able to request enhancer-promoter interaction (EPI). 
                        REGULOMIX uses JEME, joint effect of multiple enhancers 
                        (Cao, Qin et al., 2016), in Step 5 to identify EPI. 
                        If you got this message, it means that no enhancer-promoter interaction 
                        was predicted for the sequence and tissue of your analysis.
                      </p>
                    </li>
                    <img src="/static/RegulomixFAQ/Imagem50.png" style="max-width: 100%; height: auto;width:1040px;"/>
                    
                  </ul>
                </aside>
              </section>
              
              <!-- End SmartWizard Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Table methods -->
  <!-- Rows Group -->
  <!-- <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script> -->
  <!-- tables.js -->
  <script src=""></script>
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
   <!-- Datatables -->
   <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}
