{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>SNP SCANNER</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>DR_SCAN </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">


              <!-- Smart Wizard -->
              <p>This step-by-step guide will give you instructions on how to put snps and analyze it</p>
              <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                  <li>
                    <a href="#step-1">
                      <span class="step_no">1</span>
                      <span class="step_descr">
                                        Step 1<br />
                                        <small>Insert Snps</small>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-2">
                      <span class="step_no">2</span>
                      <span class="step_descr">
                                        Step 2<br />
                                        <small>Cis-regulatory Elements</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-3">
                      <span class="step_no">3</span>
                      <span class="step_descr">
                                        Step 3<br />
                                        <small>Generate Sequences</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-4">
                      <span class="step_no">4</span>
                      <span class="step_descr">
                                        Step 4<br />
                                        <small>Differential TF</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-5">
                      <span class="step_no">5</span>
                      <span class="step_descr">
                                        Step 5<br />
                                        <small>EPI         </small>
                                    </span>
                    </a>
                  </li>
                </ul>
                <div id="step-1">
                  <form class="form-horizontal form-label-left">

                    <!-- step 1 -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      
                        <div class="x_title">
                          <h2 class="StepTitle"> Step 1 <small>Insert Snps </small></h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <p class="text-muted font-13 m-b-30">
                            First step is to insert snps id into its respective field. Click run to get snp information by its id. 
                            Or you can insert an .xlsx file with your SNPs, create one column named SNP, and write down all SNPs IDs
                          </p>
                          <div style="padding-bottom: 12px;">
                            <div style="display: inline-flex">
                              <form class='form-inline'>
                                <!-- <select name="genome_version" style="margin-right: 10px" class="form-control" id="genome">
                                  <option value="GRCh37.p13">GRCh37.p13</option>
                                  <option value="GRCh38.p7">GRCh38.p7</option>
                                </select>  -->
                                <!--<div style="display: inline-flex"> </div>-->
                                <input type="text" class="form-control" style="margin-right: 10px" name="snp_input" id="snp_input"></input>
                                <button class="btn btn-success btn-xs submit" ><i class="fa fa-play"></i> Run </button>
                              </form>
                                <p style="margin-right: 30px;margin-left: 30px"> or </p>
                                <form class="form_inline" enctype="multipart/form-data" action="/uploader" method="POST" id="form_file">
                                  <div class="input-group">
                                    <div class="custom-file" style="display: inline-flex">
                                      <input type="file" class="custom-file-input" id="inputGroupFile01" name="file" aria-describedby="inputGroupFileAddon01"></input>
                                      <button type="submit" class="btn btn-success btn-xs submit_file" id="submit_file" onclick="$('.load').show();"><i class="fa fa-play"></i> Run </button>
                                      <div class="load" style="display:inline-block"> <i class="fa fa-cog fa-spin fa-5x fa-fw"style="font-size: 25px;"></i> </div>
                                      <span class="load">Processing...</span>
                                    </div>
                                  </div>
                                </form>
                              
                            </div>
                            
                          </div>
                          <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Snp Name</th>
                                <th>Location</th>
                                <th>Chromossome</th>
                                <th>Allele Wild Type</th>
                                <th>Allele Variation</th>
                                <th>Row Actions</th>
                              </tr>
                            </thead>
            
            
                            <tbody id="t-body">
                            </tbody>
                          </table>
                        </div>

                        <div>
                            <!--<button class="btn btn-success btn-xs add-row"><i class="fa fa-plus"></i> Add snp id </button>-->
                            
                      </div>
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                      <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
                      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                      <script>
                        //hide loading image
                        $(document).ready(function() {
                          $('.load').hide();
                        });
                     </script>
                      <script type=text/javascript>
                        $(function() {
                          $('#form_file').on("submit", function() {
                            // event.preventDefault()
                            //send file excel file
                            var formData = new FormData(this); 
                            console.log("FORMDATA:"+ formData)
                            $.ajax({
                              
                              url: 'http://127.0.0.1:5000/home/uploader',
                              type: 'POST',
                              // dataType: 'json',
                              data: formData,
                              success:function(response) {
                                //success
                                //hide after success
                                $('.load').hide();
                                console.log("Success form")
                                console.log(response)
                                for(i=0;i<response.length;i++){
                                  var t = $('#datatable-buttons').DataTable();
                                    t.row.add( [
                                      response[i][1],
                                      response[i][0][0].location,
                                      response[i][0][0].chrom,
                                      response[i][0][0].allele_wt,
                                      response[i][2],
                                      '<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>'+
                                      '<a href="#" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i> Delete </a>',
                                    ] ).draw();
                                }
                              },
                              cache: false,
                              contentType: false,
                              processData: false
                              });
                              return false;
                            });
                          });
                        </script>
                        <script type=text/javascript>
                          $(function() {
                            $('.btn.btn-success.btn-xs.submit').bind('click', function() {
                              event.preventDefault()
                              var snp = $('#snp_input').val();
                              $.ajax({
                                url: 'http://127.0.0.1:5000/home/get_snp_info',
                                data: {snp_name: snp},
                                type: 'POST',
                                dataType: 'json',
                                success:function(response) {
                                console.log("RESPOSTA")
                                console.log(response[0][0])
                                var t = $('#datatable-buttons').DataTable();
                                    t.row.add( [
                                      response[1],
                                      response[0][0].location,
                                      response[0][0].chrom,
                                      response[0][0].allele_wt,
                                      response[2],
                                      '<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>'+
                                      '<a href="#" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i> Delete </a>',
                                    ] ).draw();
                              }
                              });
                            });
                          });
                        </script>
               
                            <script type="text/javascript">
                              //JQuery to delete rows.Working and using the datatables API
                              $(document).ready(function() {
                                
                                $('#datatable-buttons tbody').on( 'click', '.btn.btn-danger.btn-xs', function () {
                                  var table_edit = $('#datatable-buttons').DataTable();
                                  table_edit
                                    .row( $(this).parents('tr') )
                                    .remove()
                                    .draw();
                                });
                              });
                              
                            </script>
                            <script>
                            //JQuery for editing datatable
                            //working
                            //transform cells into editable text fields
                            $(document).ready(function(){
 
                              $('#datatable-buttons').on( 'click', '.btn.btn-info.btn-xs', function () {
                                var myTable = $('#datatable-buttons').DataTable();
                                var idx = myTable.row( $(this).parents('tr') ).index();
                                console.log("IDX: " + idx)
                                //every cell turns into editable text field
                                myTable.cell(idx,0).data('<input type="text" class="form-control" name="" value="" placeholder="e.g. rs4232"></input>').draw();
                                myTable.cell(idx,1).data('<input type="text" class="form-control" name="" value="" placeholder="e.g. 1231321"></input>').draw();
                                myTable.cell(idx,2).data('<input type="text" class="form-control" name="" value="" placeholder="e.g. 11"></input>').draw();
                                myTable.cell(idx,3).data('<input type="text" class="form-control" name="" value="" placeholder="e.g. A"></input>').draw();
                                myTable.cell(idx,4).data('<input type="text" class="form-control" name="" value="" placeholder="e.g. C"></input>').draw();

                              } );
                            });
                            </script>
                    </div>
                  </form>

                </div>
                
                <div id="step-2">
                    <!-- step 2 -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      
                        <div class="x_title">
                          <h2 class="StepTitle"> Step 2 <small>Verify Cis-Regulatory Elements </small></h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <p class="text-muted font-13 m-b-30">
                            Second step verify if the snps are in a cis-regulatory element
                          </p>
                          <div>
                            <form class="form-inline">
                                <input type="text" name="tissue_field" id="tissue_field" class="form-control"></input>
                                <a href="#" class="btn btn-success btn-xs verify" onclick="$('.load2').show();"><i class="fa fa-play"></i> Run </a>
                                <div class="load2" style="display:inline-block"> <i class="fa fa-cog fa-spin fa-5x fa-fw"style="font-size: 25px;"></i> </div>
                                <span class="load2">Processing...</span>
                            </form>
                            
                          </div>
                          <table id="datatable-buttons-x" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Snp Name</th>
                                <th>State Model</th>
                                <th >Tissue</th>
                                <th>Regulatory Element</th>
                                <!-- <th>Row Action</th> -->
                              </tr>
                            </thead>
            
                            <tbody id="t-body">
                              
                            </tbody>
                          </table>
                          <!-- Delete snps from all tables option -->
                          <div>
                             
                                  <h2 class=""> Step 2.5 <small>Delete SNPs from Tables </small></h2>
                                  
                                  <p class="text-muted font-13 m-b-30">
                                    Delete SNPs if you dont want to analyze them for third and fourth steps
                                  </p>
         
                            <form class="form-inline">
                                <input type="text" name="delete_snp" id="delete_snp" class="form-control"></input>
                                <a href="#" class="btn btn-danger btn-xs delete_s"><i class="fa fa-trash-o"></i> Delete </a>
                            </form>
                          </div>
                        </div>
                      
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
                <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script>
                  //hide loading image
                  $(document).ready(function() {
                    $('.load2').hide();
                  });
                </script>
                <script type="text/javascript">
                  $(function() {
                    //Getting information from snp_datatable first step
                    //When run button is clicked in the second step
                    $('.btn.btn-success.btn-xs.verify').bind('click', function() {
                      //important method so that the ajax doesn't refresh the page
                      event.preventDefault()
                      
                      var table = $('#datatable-buttons').DataTable();
                      var rows2 = table.rows().data().length;
                      var row_list = []
                      for(i=0;i<rows2;i++){
                        row_list.push(table.rows().data()[i])
                      };
                      var tissue = $('#tissue_field').val();
                      console.log("ROWS2")
                      console.log(rows2)
                      $.ajax({
                        
                        url: 'http://127.0.0.1:5000/home/verify_snps',
                        type: 'POST',
                        dataType: 'json',
                        data: { snp_list:JSON.stringify(row_list), 
                              tissue_field: tissue,
                        },
                        // async: false,
                        success:function(response) {
                          //some debbugging
                          $('.load2').hide();
                          console.log("LOG: " + response[0]['state_model'])
                          console.log("SIZE: " + response)
                          //declare datatable
                          var t = $('#datatable-buttons-x').DataTable({
                            rowsGroup: [0,2,3],
                            'aaData': {response}
                          });
                          //iterate through response to add rows in the table
                          for(i=0;i<response.length;i++){
                            t.row.add( [
                            response[i]['snp_name'],
                            response[i]['state_model'],
                            response[i]['tissue'],
                            response[i]['reg_elemnt'],
                            // '<a href="#" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i> Delete </a>',
                            ] ).draw();
                          };
                        }
                      });
                    });
                  });
                </script>
                  
                  <script type="text/javascript">
                    //JQuery to delete rows.Working and using the datatables API
                    $(document).ready(function() {
                      $('#datatable-buttons-x tbody').on( 'click', '.btn.btn-danger.btn-xs', function () {
                        var table_edit = $('#datatable-buttons-x').DataTable();
                            table_edit
                                .row( $(this).parents('tr') )
                                .remove()
                                .draw();
                        });
                      });
                                                      
                  </script>
                  <!-- STEP 2.5 Delete snps button function -->
                  <script type="text/javascript">
                    //STEP 2.5 delete snps logic
                    $(function() {
                    //Getting information from snp_datatable first step
                    //When run button is clicked in the second step
                    $('.btn.btn-danger.btn-xs.delete_s').bind('click', function() {
                      //important method so that the ajax doesn't refresh the page
                      event.preventDefault()
                      //variable to put the header
                      var heads = [];
                      $("#datatable-buttons thead").find("th").each(function () {
                        heads.push($(this).text().trim());
                      });
                      //variable for the rows of the datatable
                      var rows = [];
                      $("#datatable-buttons tbody tr").each(function () {
                        cur = {};
                        $(this).find("td").each(function(i, v) {
                          // TODO : testing
                          if ($(this).text() == ''){
                            console.log("HERE")
                            cur[heads[i]] = $(this).children("input").val().trim();
                            console.log(cur[heads[i]])
                          }else{
                            cur[heads[i]] = $(this).text().trim();
                          }
                        });
                        rows.push(cur);
                        cur = {};
                    }); 
                    
                    });
                  });
                                                                        
                  </script>
                <!--<div class="col-md-12 col-sm-12 col-xs-12"></div>-->
                <div id="step-3">
                  <!-- step 3 -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      
                      <div class="x_title">
                        <h2 class="StepTitle"> Step 3 <small>Generate Sequences </small></h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                          Your generated sequences will show up here. click on the generate button
                        </p>
                        <a href="#" class="btn btn-success btn-xs generate"><i class="fa fa-play"></i> Generate </a>
                        <p id="sequences" style="font-family: 'Courier New', Courier, monospace">

                        </p>
                      </div>
                    
                  </div>
                
                </div>
                <!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->
                <!-- <script src="dataTables.rowsGroup.js"></script> -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
                <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type="text/javascript">
                  //Script for generate button
                  $(function() {
                    //Getting information from snp_datatable first step
                    //When run button is clicked in the second step
                    $('.btn.btn-success.btn-xs.generate').bind('click', function() {
                      //important method so that ajax doesn't refresh the page
                      event.preventDefault()
                      //variable to put the header
                      var heads = [];
                      $("#datatable-buttons thead").find("th").each(function () {
                        heads.push($(this).text().trim());
                      });
                      //variable for the rows of the datatable
                      var rows = [];
                      $("#datatable-buttons tbody tr").each(function () {
                        cur = {};
                        $(this).find("td").each(function(i, v) {
                          if ($(this).text() == ''){
                            console.log("HERE")
                            cur[heads[i]] = $(this).children("input").val().trim();
                            console.log(cur[heads[i]])
                          }else{
                            cur[heads[i]] = $(this).text().trim();
                          }
                      });
                        rows.push(cur);
                        cur = {};
                    }); 
                    //sequence space needs to be empty
                    var element;
                    element = document.getElementById("sequences");
                    if (element) {
                      element.innerHTML = "";
                    }
                    console.log("HEAD: "+ heads)
                    console.log("Row: "+ rows[0]['Location'])
                    $.ajax({
                      url: 'http://127.0.0.1:5000/home/gen_sequence',
                      type: 'POST',
                      dataType: 'json',
                      data: { snp_list: JSON.stringify(rows) },
                      async: false,
                      success:function(response) {
                        //some debbugging
                        alert("DONE")
                        console.log("SIZE: " + response[0].length)
                        console.log(response[0])
                        //insert text into 'p' element
                        for(i=0;i<response[0].length;i++){
                          $('#sequences').append( document.createTextNode( response[0][i]) );
                          $('#sequences').append( document.createElement( "br") );
                          console.log(response[0][i])
                        }
                        //console.log("VALUE OF FIMO_RESULTS: " + response[1]);
                        //fimo_results = response[1];
                        
                      }        
                    });
                    });
                  });

                </script>
                
                <div id="step-4">
                  <!-- step 4 -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      
                      <div class="x_title">
                        <h2 class="StepTitle"> Step 4 <small>Differential Transcription Factors </small></h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                          Here is showing up all the differential transcription factors
                        </p>
                        <div>
                            <a href="#" class="btn btn-success btn-xs dif-tf"><i class="fa fa-play"></i> Run </a>
                          </div>
                          <table id="datatable-buttons-ft" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Motif ID</th>
                                <th>Motif Alt ID</th>
                                <th>Sequence Name</th>
                                <th>Strand</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>p-value</th>
                                <th>q-value</th>
                                <th>Matched Sequence</th>
                              </tr>
                            </thead>
                            <tbody id="t-body">
                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
                <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type="text/javascript">
                  
                  //Script for run button in step 4
                  //Show differential transcription factor
                  $(function() {
                    //Getting information from snp_datatable first step
                    //When run button is clicked in the second step
                    $('.btn.btn-success.btn-xs.dif-tf').bind('click', function() {
                      //important method so that the ajax doesn't refresh the page
                      event.preventDefault()
                      $.ajax({
                      url: 'http://127.0.0.1:5000/home/dif_tf',
                      type: 'POST',
                      dataType: 'json',
                      data: { fimo_tsv: "fimo_out/fimo.tsv"},
                      async: false,
                      success:function(response) {
                        //some debbugging
                        alert("DONE");
                        console.log("SIZE: " + response.length);
                        console.log("TESTE: " + response['motif_id'] );
                        //insert into table
                        //declare datatable
                        var t = $('#datatable-buttons-ft').DataTable();
                        //iterate through response to add rows in the table
                        for(i=0;i<response.length;i++){
                          t.row.add( [
                            response[i]['motif_id'],
                            response[i]['motif_alt_id'],
                            response[i]['sequence_name'],
                            response[i]['strand'],
                            response[i]['start'],
                            response[i]['stop'],
                            response[i]['p-value'],
                            response[i]['q-value'],
                            response[i]['matched_sequence'],
                          ] ).draw();
                        };  
                      }        
                    });
                    });
                    
                    });
                
                </script>
                <div id="step-5">
                  <!-- step 5 -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      
                      <div class="x_title">
                        <h2 class="StepTitle"> Step 5 <small>Enhancer Promoter Interaction </small></h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                          This part shows enhancer and promoter interaction pairs of snps inside enhancer region
                        </p>
                        <div>
                          <form class="form-inline">
                              <input type="text" name="tissue_field_epi" id="tissue_field_epi" class="form-control"></input>
                              <a href="#" class="btn btn-success btn-xs epi"><i class="fa fa-play"></i> Run </a>
                          </form>

                        </div>
                        <table id="datatable-buttons-epi" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>SNP</th>
                              <th>Location</th>
                              <th>Gene ID</th>
                              <th>Gene</th>
                              <th>Gene Location</th>
                              <th>Score</th>
                              <th>Tissue</th>
                              <th>File Type</th>
                            </tr>
                          </thead>
          
                          <tbody id="t-body">
                            
                          </tbody>
                        </table>
                      </div>
                          
                    </div>
                  </div>
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                  <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
                  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                  <script type="text/javascript">
                        $(function() {
                          //Getting information from snp_datatable first step
                          //When run button is clicked in the second step
                          $('.btn.btn-success.btn-xs.epi').bind('click', function() {
                            //important method so that the ajax doesn't refresh the page
                            event.preventDefault()
                            //variable to put the header
                            var heads = [];
                            $("#datatable-buttons thead").find("th").each(function () {
                              heads.push($(this).text().trim());
                            });
                            //variable for the rows of the datatable
                            var rows = [];
                            $("#datatable-buttons tbody tr").each(function () {
                              cur = {};
                              $(this).find("td").each(function(i, v) {
                              // TODO : testing
                              if ($(this).text() == ''){
                                console.log("HERE")
                                cur[heads[i]] = $(this).children("input").val().trim();
                                console.log(cur[heads[i]])
                              }else{
                                cur[heads[i]] = $(this).text().trim();
                              }
                            });
                            rows.push(cur);
                            cur = {};
                          }); 
                          console.log("HEAD: "+heads)
                          console.log("Row: "+rows[0]['Location'])
                          var tissue = $('#tissue_field_epi').val();
                          $.ajax({
                            url: 'http://127.0.0.1:5000/home/epi',
                            type: 'POST',
                            dataType: 'json',
                            data: { snp_list: JSON.stringify(rows), 
                                    tissue_field_epi: tissue,
                            },
                            async: false,
                            success:function(response) {
                              //some debbugging
                              alert("DONE")
                              console.log("LOG: " + response['SNP'])
                              console.log("SIZE: " + response.length)
                              //declare datatable
                              var t = $('#datatable-buttons-epi').DataTable({
                                // 'rowsGroup': [1]
                              });
                              //iterate through response to add rows in the table
                                for(i=0;i<response.length;i++){
                                  t.row.add( [
                                    response[i]['SNP'],
                                    response[i]['Location'],
                                    response[i]['Gene ID'],
                                    response[i]['Gene'],
                                    response[i]['Gene Location'],
                                    response[i]['Score'],
                                    response[i]['Tissue'],
                                    response[i]['File_Type'],
                                  ] ).draw();
                                };  
                            }
                                    
                          });
                          });
                        });
                        </script>
                  </div>
                </div>

              </div>
              <!-- End SmartWizard Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Table methods -->
  <!-- Rows Group -->
  <!-- <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script> -->
  <!-- tables.js -->
  <script src=""></script>
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
   <!-- Datatables -->
   <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}
