{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<style>
  .wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
    background: #006938;
    color: #fff;
  }
  .wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
    background: #006938;
    color: #fff;
  }
  .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #5EC199;
    color: #fff;
  }
  .btn-primary {
    color: #fff;
    background-color: #006938;
    border-color: #005e32;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #00743e;
    border-color: #005e32;
  }
  .btn-success {
    background: #5EC199;
    border: 1px solid rgb(87, 177, 141);
  }

</style>
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>SNP SCANNER</h3> -->
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>About </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <!-- Smart Wizard -->
              <p>REGULOMIX is a user-friendly web service prepared to suggest valuable potential candidates of cis or trans-regulatory elements from an SNP-panel of interest in a regulomics fashion. It is a powerful tool for investigating the role of non-coding DNA in regulatory mechanisms related to complex traits.  The integrated pipeline of REGULOMIX consists of 5 steps. <br>
                <br>
                <b>Step 1- Enter the SNPs.</b> You will provide SNPs related a complex trait of your interest into the software. To enter the SNPs you can put dbSNP id into the first text field and click on the submit button beside or make an excel file (.xlsx) with only one column with header named SNPs and write in each row one SNP ID, upload the file and then click on the submit button. The software will process each SNP and show the user a table below the inserted SNP form containing each SNP and its information of location (GRCh37), chromosome, wild-type allele and variation allele. Sometimes there can be more than one variation allele so they are separated with a vertical bar. Each row is provided with one edit button and one delete button. Delete button will remove the row and edit button can be used if some info is missing from the table, the user can click once to edit and click again to save the modifications.<br>
                Every step is bound by step 1. If you upload a new excel file, all the other steps are going to be deleted.<br>
                <b>Step 2 – Scan for Cis-Regulatory Elements.</b> Insert the id of the tissues they want to analyze. You can write more than one separated with a vertical bar. In the end, a table will be shown with the results. You can delete SNPs in this step, choosing the labels it wants to keep, or by providing a list of SNP IDs into the text field separated by comma. The generated analysis from this step can be downloaded in .csv format before next step.<br>
                <b>Step 3 – Choose Transcription Factor Matrix.</b>  Choose one of the provided matrixes or uploads one to use. This step also shows the sequences made with all remaining SNPs in FASTA format.<br>
                <b>Step 4 – Differential Transcription Factors.</b> A table is showed to the user with all the differential transcription factors identified by the software. The results from this step can be downloaded in .csv format before next step.<br> 
                <b> Step 5 – Detection of Enhancer-Promoter Interactions.</b> The user will provide tissues IDs separated by a vertical bar and it will show a table with all the enhancer-promoter interactions. All resulted tables from each step can be downloaded in .csv format with a button on the top of the table.<br>
                REGULOMIX also contains a database to keep the current processing of each one of the steps, so it can store results if the processing is longer and keep it available for 7 days, unless the user starts a new process.<br>
                <br>
                <b>The Noisy Neighbors Algorithm</b><br>
                  If the SNP is too close to other SNP (< 31 bp), they will be put together to generate sequences with the combination of their alleles. This is based on the fact that more than one SNP can be inherited together and the recent work that showed that haplotypes can explain better genetic inheritance in complex diseases like multiple sclerosis (KHANKANIAN et al., 2015). In this context, we have created an original algorithm to construct these combinatory sequences and it was implemented in REGULOMIX. Therefore, some outputs of our tool may have results with a sequence that has more than one SNP. It is important to highlight that the results obtained through the application of Noisy Neighbors Algorithm are based uniquely on the distances between two regulatory SNPs, being necessary to verify the occurrence of linkage disequilibrium in population genomic data.<br>
                  <br>
                  <b>Reference</b><br>
                Khankhanian P, Gourraud P, Lizee A, et al. Haplotype-based approach to known MS-associated regions increases the amount of explained risk. Journal of Medical Genetics 2015;52:587-594. <br>
                <br>
                <b>The Team</b><br>
                  REGULOMIX was developed between 2018-2019 by a multidisciplinary team of University of Fortaleza (UNIFOR) and Federal Institute of Ceará (IFCE), both located in Fortaleza, Ceará, Brazil.<br> 
                  <br>
                <b>How can you cite this tool?</b><br>
                Waiting for paper publication. <br>
                <b>Browsers</b>
                <br>
                We recommend using Google Chrome for this application <br>
                <br>
                If you have any doubts send e-mail to: regulomix@unifor.br
                <br>
                </p>
              
              <!-- End SmartWizard Content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Table methods -->
  <!-- Rows Group -->
  <!-- <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script> -->
  <!-- tables.js -->
  <script src=""></script>
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
   <!-- Datatables -->
   <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
   <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock javascripts %}
